@import "includes/settings";

@-moz-keyframes swapOut {
	0% {
  		opacity: 1;
  	}
  
	100% {
  		opacity: 0;
	}
}

@-webkit-keyframes swapOut {
	0% {
  		opacity: 1;
  	}
  
	100% {
  		opacity: 0;
	}
}

@keyframes swapOut {
	0% {
  		opacity: 1;
  	}
  
	100% {
  		opacity: 0;
	}
}

@-moz-keyframes liveNowSlide {
	0% {
  		margin-top: -4rem;
  	}
  
	100% {
  		margin-top: 0;
	}
}

@-webkit-keyframes liveNowSlide {
	0% {
  		margin-top: -4rem;
  	}
  
	100% {
  		margin-top: 0;
	}
}

@keyframes liveNowSlide {
	0% {
  		margin-top: -4rem;
  	}
  
	100% {
  		margin-top: 0;
	}
}

/* !important makes me sad inside... Necessary for cross-browser overriding of Google Maps markers */
@-moz-keyframes currentLocation {
	0% {
  		-webkit-transform: scale(0) !important;
  		transform: scale(0);
  		opacity: 0 !important;
  	}

  	20% {
  		opacity: 1 !important;
  	}
  
	100% {
		-webkit-transform: scale(5) !important;
  		transform: scale(5);
  		opacity: 0 !important;
	}
}

@-webkit-keyframes currentLocation {
	0% {
  		-webkit-transform: scale(0) !important;
  		transform: scale(0);
  		opacity: 0 !important;
  	}

  	20% {
  		opacity: 1 !important;
  	}
  
	100% {
		-webkit-transform: scale(5) !important;
  		transform: scale(5);
  		opacity: 0 !important;
	}
}

@keyframes currentLocation {
	0% {
  		-webkit-transform: scale(0) !important;
  		transform: scale(0);
  		opacity: 0 !important;
  	}

  	20% {
  		opacity: 1 !important;
  	}
  
	100% {
		-webkit-transform: scale(5) !important;
  		transform: scale(5);
  		opacity: 0 !important;
	}
}