$accent1: #0F3670;
$accent2: #43ACE5;
$background-color: #FFFFFF;
$main-color: #000000;
$header-color: #FFFFFF;

$base-size: 20px;
$line-height:  1.25em;

$font-family: "Lato", "Helvetica", "Arial", sans-serif;
$header-font-family: "Florence Sans", "Helvetica", "Arial", sans-serif;